/* Basic Styles */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}
/* Header Styles */

header {
	background: #3C3D41;
	width: 100%;
}
header img {
	display: block;
	width: 12%;
	margin-left: 2`0px;
	padding: 30px;
}
/* Nav Styles */

nav {
	width: 100%;
	background-color: #3c3d41;
	height: 150px;
	padding: 10px;
	position: relative;
}
nav img {
	margin-left: 20px;
	height: 150px;
	position: absolute;
	padding: 20px;
}
nav ul {
	margin: 0;
	padding: 80px;
	list-style: none;
	text-align: right;
}
nav ul li {
	display: inline-block;
	padding: 10px;
}
nav ul li a {
	display: block;
	padding: 5px 10px 5px 10px;
	color: #F0F0F0;
	text-decoration: none;
	font-family: 'catamaran', verdana, sans-serif;
	font-size: 16px;
	white-space: nowrap;
}

nav ul li a:hover {
	color: #F37F60;
}

/* Cover Styles */
.cover {
    position: relative;
    text-align: center;
    margin: 
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'catamaran', verdana, sans-serif;
    font-size: 70px;
}

.centeredbelow {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'quicksand', verdana, sans-serif;
	font-size: 20px;
	color: #3C3D41;

}
/* Booking Styles */

.booking {
	display: inline-block;
	margin-left: 250px;
	color: #F37F60;
}

.booking:hover {
	color: #f0f0f0;
}
/* Cover Styles */

.cover {
	padding: 0;
	display: block;
}
.cover img {
	height: 936px;
	width: 100%;
}
/* Description Styles */

.description {
	display: block;
	width: 62%;
	padding: 20px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	box-sizing: border-box;
}
.description p {
	font-family: 'catamaran', verdana, sans-serif;
	color: #3c3d41;
	line-height: 1.3em;
	font-size: 18px;
}
/* Icons Styles */

.icons {
	display: block;
	width: 70%;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	box-sizing: border-box;
	position: relative;
}
.icons h1 {
	font-family: 'quicksand', verdana, sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-left: 50px;
}
.icons img {
	width: 160px;
	height: 160px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 50px;
	display: inline-block;
	border: 1px solid #3c3d41;
	border-spacing: 10px;
	padding: 10px;
	white-space: none;
}
.icons img:nth-child(3n) {
	margin: 0 20px;
}
.icons:after {
	content: "";
	display: block;
	clear: both;
}
.icons a {
	box-sizing: border-box;
}
.icons p {
	font-family: 'catamaran', verdana, sans-serif;
	font-size: 14px;
	color: #3C3D41;
	text-decoration: underline;
	text-align: right;
	padding-right: 112px;
}

.icons p:hover {
	color: #F37F60;
}
/* Maps */

.map {
	display: block;
	width: 850px;
	padding: 20px;
	margin-top: 20px;
	margin-left: 300px;
}
.map h1 {
	font-family: 'quicksand', verdana, sans-serif;
	font-size: 30px;
	color: #3C3D41;
	margin: 0 auto;
	padding-bottom: 20px;
}
.map iframe {
	width: 100%;
	height: 350px;
}
/* Footer Styles */

footer {
	padding: 40px;
	background-color: #3C3D41;
	font-family: 'quicksand', verdana, sans-serif;
	color: #f0f0f0;
	font-size: 14px;
	text-align: center;
}
/* Social Media Icon Styles */

#socialmedia {
	text-align: center;
	text-decoration: none;
	font-family: 'fa-brands-400'
}
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Main styles */

main {
	padding: 30px;
}

/* Accommodation Styles */

.Accommodation {
	padding: 20px;
	width: 60%;
	border-radius: 10px;
	margin: auto;
}

.Accommodation h1 {
	font-family: 'quicksand', verdana, sans-serif;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.Accommodation p {
	margin-left: 0 auto;
	margin-right: 0 auto;
	width: 100%;
	font-family: 'catamaran', verdana, sans-serif;
	line-height: 1.3em;
}

/* Gallery Styles */

.Gallery {
	width: 100%;
	padding: 50px;
	text-align: justify;
	flex-direction: row;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.Gallery a {
	margin-bottom: 50px;
}

.Gallery img {
	width: 350px;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.Gallery p {
	width: 350px;
	padding: 20px;
	background-color: #3C3D41;
	color: #F37F60;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: 'quicksand', verdana, sans-serif;
	text-align: center;
	margin: -10px 0 0 0;
}

.Gallery p:hover {
	color: #f0f0f0;
}

/* Carousel Styles */

.carousel {
	width: 100%;
	padding: 50px;
}

.carousel h1 {
	text-align: center;
	font-family: 'quicksand', verdana, sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.carousel img {
	width: 50%;
}

/* Options Styles */

hr {
	width: 100%;
}
.options {
	width: 100%;
	vertical-align: middle;
	position: relative;
	padding: 10px 0 0 0;
}

.options ul {
	margin: 0;
	padding: 0 auto;
	list-style: none;
	text-align: center;
}

.options ul li {
	list-style: none;
	display: inline-block;
	padding: 10px;
}

.options ul li a {
	text-decoration: none;
	color: #3C3D41;
	font-family: 'quicksand', verdana, sans-serif;
	font-size: 16px;
	padding: 10px;
}

/* Form Styles */

form h1 {
	font-family: 'quicksand', verdana, sans-serif;
	font-size: 30px;
	text-align: center;
}


.form-style-1 {
	width: 50%;
	margin: 10px auto;
	padding: 20px 12px 10px 20px;
	font-size: 14px;
	font-family: 'quicksand', verdana, sans-serif;
}

.form-style-1 li {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	display: block;
}

.form-style-1 label {
	display: block;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0;
}

.form-style-1 input[type="text"]:focus, .contactus input[type="email"]:focus, textarea, select {
	box-sizing: border-box;
	border: 1px solid #3C3D41;
	padding: 7px;
	outline: 0;
}

.form-style-1 input[type="text"]:focus, .contactus input[type="email"]:focus, textarea:active, select:focus {
	border: 1px solid #3C3D41;
	-o-box-shadow: 0 0 8px #3C3D41;
	-webkit-box-shadow: 0 0 8px #3C3D41;
	-moz-box-shadow: 0 0 8px #3C3D41;
	box-shadow: 0 0 8px #3C3D41;
} 

select {
	height: 34px;
	width: 286px;
}

.feild-divided {
	width: 48%;
}

.feild-email {
	width: 96.5%;
}

.feild-phone {
	width: 96.5%;
}

.feild-message {
	height: 100px;
	width: 96.5%;
}

.feild-textarea {
	height: 100px;
}

input[type="submit"] {
	background-color: #3C3D41;
	padding: 8px 15px;
	border: none;
	color: #F37F60;
	transition: background-color;
}

input[type="submit"]:hover {
	background-color: #F37F60;
	color: #f0f0f0;
	box-shadow: none;
}

fieldset {
	width: 450px;
	margin: 0 auto;
}

/* Slideshow-container Styles */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide images */

.mySlides {
    display: none;
}

/* Next & Previous Buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Text */

.text {
  color: #3C3D41;
  font-size: 15px;
  font-family: 'quicksand', verdana, sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text */

.numbertext {
  color: #3C3D41;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3C3D41;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F37F60;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





























